html,
body {
    height: 100%;
    background-attachment: fixed;
    background-color: #E5E5E5;
    background-image: url("/static/img/background.png"), -moz-linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
    background-image: url("/static/img/background.png"), -webkit-linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
    font-family: 'Open Sans', sans-serif; /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 60px;
}

pre {
    background-color: #333333;
}

pre code {
    color: #FFFFFF;
}

#footer {
    background-color: #f5f5f5;
    /*margin-top: 20px;*/
}

#footer p.credit a.pull-right {
    /*font-size: 12px;*/
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Frontend app */

.container {
    width: auto;
    max-width: 680px;
}

.container .credit {
    margin: 20px 0;
}

.lead {
    font-size: 16px !important;
}

.page-header {
    margin: 20px 0 0;
    border-bottom: none;
}

.page-header h1 a {
    text-decoration: none;
    color: #333333;
    -webkit-transition: color .5s;
    -moz-transition: color .5s;
    -o-transition: color .5s;
    transition: color .5s;
}

.page-header h1 a:hover {
    color: #0CAEE3 !important;
    cursor: pointer;
}

a.dropdown-toggle {
    color: #333333 !important;
}
a.dropdown-toggle b.caret {
    border-top-color: #333333 !important;
}

div.news-area h4.title {
    font-size: 14px;
    font-weight: normal;
    clear: both;
}

div.news-area h4.header,
div.news-list h4.header {
    border-bottom: 1px solid #BBBBBB;
    padding-bottom: 10px;
}

div.news-area h4.title a {
    color: #333333;
}

div.news-area h4.title a:hover {
    text-decoration: none;
    border-bottom: 1px dotted #B6B6B6;
}

div.news-area p.timestamp {
    font-size: 0.85em;
    float: right;
    margin: -2.8em -0.1em 0 0;
}

div.news-area div.entry {
    display: none;
    text-align: justify;
}

.news-list a.title {
    text-decoration: none;
    cursor: pointer;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
    background-color: #999999;
    background-image: none;
}

.news-detail .title {
    border-bottom: 1px solid #BBBBBB;
    padding-bottom: 10px;
}

.news-detail .entry {
    text-align: justify;
}

.news-detail .timestamp {
    font-size: 0.85em;
    float: right;
    margin: -2.8em -0.1em 0 0;
    font-style: italic;
}

.page-detail div.entry {
    text-align: justify;
}

.page-detail h4.title {
    border-bottom: 1px solid #BBBBBB;
    padding-bottom: 10px;
}

.hadron-nav {
    margin-left: -10px;
}

#hadron-logo {
    float: right;
    height: auto;
    margin-top: -44px;
    width: 25%;
}

/* Document app */

.documents-header h3 {
    padding-left: 10px;
}

.documents-header {
    height: 60px;
    padding-top: 1px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #CCCCCC;
}

.documents-header small {
    font-style: italic;
    font-size: 12px;
}

.documents-header a {
    color: #333333;
    text-decoration: none;
    -webkit-transition: color .5s;
    -moz-transition: color .5s;
    -o-transition: color .5s;
    transition: color .5s;
}

.documents-header a:hover {
    color: #0CAEE3 !important;
    cursor: pointer;
}

.breadcrumb {
    padding: 1px 5px;
    font-size: 12px;
    border-bottom: 1px solid #CCCCCC;
}

.container-narrow {
    margin: 0 auto;
    max-width: 1000px;
}

.document-index,
.document-detail {
    background-color: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
    padding: 19px 29px 29px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #e5e5e5;
}

.document-index .title,
.document-detail .title {
    border-bottom: 1px solid #BBBBBB;
}

.document-detail .title a {
    float: right;
    font-size: 12px;
    font-style: italic;
    text-decoration: none;
}

.document-detail .about {
    border-top: 1px solid #BBBBBB;
}

.document-detail .last-update {
    margin-top: 5px;
    color: #999999;
}

.document-detail h4 {
    border-bottom: 1px dotted #BBBBBB;
}

/* Developers page */

.developers {
  /* This is a temporary fix */
  margin-bottom: 20px;
}

.developers th {
    color: #666666;
    font-weight: normal;
    padding-right: 0.5em;
    text-align: right;
    vertical-align: top;
    white-space: nowrap;
}

.developers td.pic {
    padding-right: 15px;
    padding-top: 2.25em;
    vertical-align: top;
    /* Dont show developer pics now */
    display: none;
}

.developers td.pic img {
    border: 1px solid #CCCCCC;
    padding: 4px;
    width: 125px;
    height: 125px;
}

.developers td h3 {
    border-bottom: 1px dotted #CCCCCC;
    margin-bottom: 0.5em;
}
