{% extends "base.html" %}
{% block container %}
            <!-- Begin page content -->
            <div class="container">
                <div class="page-header">
                    <h1><a href="/">Hadron Project</a></h1>
                    <img id="hadron-logo" src="/static/img/hadron-logo.png"></img>
                </div>
                {% block lead %}{% endblock %}
                <ul class="nav nav-pills hadron-nav">
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" role="button" id="drop4" class="dropdown-toggle">Introduction <b class="caret"></b></a>
                        <ul aria-labelledby="drop4" role="menu" class="dropdown-menu" id="menu1">
                            <li><a href="/page/about" tabindex="-1">About</a></li>
                            <li><a href="/page/pros-and-cons" tabindex="-1">Pros and Cons</a></li>
                            <li><a href="/page/package-manager" tabindex="-1">Package Manager</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" role="button" id="drop5" class="dropdown-toggle">Downloads <b class="caret"></b></a>
                        <ul aria-labelledby="drop5" role="menu" class="dropdown-menu" id="menu2">
                            <li><a href="/page/downloads" tabindex="-1">Get Hadron</a></li>
                            <li><a href="/page/get-sources" tabindex="-1">Get Sources</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" role="button" id="drop5" class="dropdown-toggle">Documentation <b class="caret"></b></a>
                        <ul aria-labelledby="drop5" role="menu" class="dropdown-menu" id="menu3">
                            <li><a href="{% url apps.documents.views.document_detail 'using-experimental-tarball' %}" tabindex="-1">Using experimental tarball</a></li>
                            <li><a href="#" tabindex="-1">Packaging with lpms</a></li>
                            <li class="divider" role="presentation"></li>
                            <li><a href="{% url apps.documents.views.index %}" tabindex="-1">Documentation Index</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" role="button" id="drop5" class="dropdown-toggle">Support <b class="caret"></b></a>
                        <ul aria-labelledby="drop5" role="menu" class="dropdown-menu" id="menu3">
                            <li><a href="http://hadronproject.org/page/issues" tabindex="-1">Issues</a></li>
                            <li><a href="/page/become-a-developer" tabindex="-1">Become a developer</a></li>
                            <li><a href="#" tabindex="-1">IRC Channels</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" role="button" id="drop5" class="dropdown-toggle">Misc <b class="caret"></b></a>
                        <ul aria-labelledby="drop5" role="menu" class="dropdown-menu" id="menu3">
                            <li><a href="{% url apps.frontend.views.developers %}" tabindex="-1">Developers</a></li>
                            <li><a href="/page/packages" tabindex="-1">Packages</a></li>
                        </ul>
                    </li>
                </ul>
                {% block content %}{% endblock %}
            </div>
{% endblock %}
